@import "../global/typography.scss";
@import "../global/colors.scss";
@import "../global/media.scss";

.home-page {
    width: 100%;
    margin: 64px 40px 40px 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media screen and (max-width: $screen--xs-max) {
        margin: 24px;
        align-items: center;
    }

    &__welcome-container {
        width: 60%;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 24px;
        background-color: $primary-white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

        @media screen and (max-width: $screen--md-max) {
            flex-direction: column;
            width: 100%;
            box-shadow: none;
        }

        @media screen and (min-width: $screen--sm-min) {
            padding: 120px 50px;
        }
    }

    &__welcome {
        font-size: $text-7xl;
        line-height: 1.1;
        font-family: "Lato-Bold";
        margin-bottom: 24px;

        @media screen and (max-width: $screen--xs-max) {
            font-size: $text-4xl;
            margin-bottom: 16px;
        }
    }

    &__header {
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        flex: 2;
        margin-bottom: 50px;

        @media screen and (max-width: $screen--xs-max) {
            padding: 0;
            margin-bottom: 32px;
        }
    }

    &__header-paragraph {
        font-size: $text-4xl;
        line-height: 1.2;
        font-family: "Lato-Bold";

        @media screen and (max-width: $screen--xs-max) {
            font-size: $text-lg;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 3;

        @media screen and (max-width: $screen--xs-max) {
            padding: 0;
        }
    }

    &__create-button {
        width: 60%;

        @media screen and (max-width: $screen--xs-max) {
            width: 100%;
        }
    }
}
