<section class="error-page">
    <div class="error-page__content">
        <p>The path you chose has brought you here!</p>
        <a asp-controller="Flashcards" asp-action="Index" class="error-page__link">Go back to Home Page</a>
        <p>or drop everything and move to the mountains!</p>
    </div>
    <p class="error-page__picture-author">Author Jacek Olszewski photo from Pixabay</p>
</section>



