<section class="error-page">
    <p>Ścieżka, którą podążasz zaprowadziła Cię tutaj.</p>
    <p>
        <a asp-controller="Flashcards" asp-action="Index" class="error-page__link">Wróć na Stronę Główną</a>

        <br>
        lub rzuć wszystko i jedź w Bieszczady!
    </p>
</section>



