@import "../global/media.scss";

.carousel {
    position: relative;
    margin-bottom: 24px;
    height: 100%;
    width: 100%;

    @media screen and (max-width: $screen--xs-max) {
        margin-bottom: 0;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex: auto;
        align-items: center;
        overflow: auto;
        height: 100%;

        @media screen and (min-width: $screen--sm-min) {
            padding: 0 52px;
        }
    }

    &__next-button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 52px;
        z-index: 1;
    }

    &__prev-button {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 52px;
        z-index: 1;
    }
}
