
@inject SignInManager<IdentityUser> singInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/assets/images/logo.ico" />
    <title>@ViewData["Title"] Flashcards </title>
    <link rel="stylesheet" href="~/styles/global/reset.css" />
    <link rel="stylesheet" href="~/styles/global/scrollbar.css" />
    <link rel="stylesheet" href="~/styles/global/layout.css" />
    <link rel="stylesheet" href="~/styles/global/helpers.css" />
    <link rel="stylesheet" href="~/styles/global/fonts.css" />
    <link rel="stylesheet" href="~/styles/global/buttons.css" />
    <link rel="stylesheet" href="~/styles/global/typography.css" />
    <link rel="stylesheet" href="~/styles/global/icons.css" />
    <link rel="stylesheet" href="~/styles/global/inputs.css" />
    <link rel="stylesheet" href="~/styles/global/colors.css" />
    <link rel="stylesheet" href="~/styles/pages/home-page.css" />
    <link rel="stylesheet" href="~/styles/pages/flashcards-page.css" />
    <link rel="stylesheet" href="~/styles/pages/form-page.css" />
    <link rel="stylesheet" href="~/styles/pages/edit-page.css" />
    <link rel="stylesheet" href="~/styles/pages/delete-page.css" />
    <link rel="stylesheet" href="~/styles/pages/collection-page.css" />
    <link rel="stylesheet" href="~/styles/pages/error-page.css" />
    <link rel="stylesheet" href="~/styles/components/header.css" />
    <link rel="stylesheet" href="~/styles/components/card.css" />
    <link rel="stylesheet" href="~/styles/components/flashcard.css" />
    <link rel="stylesheet" href="~/styles/components/form.css" />
    <link rel="stylesheet" href="~/styles/components/carousel.css" />
</head>
<body>
    <header class="header">
        <a class="header__logo-container" asp-area="" asp-controller="Flashcards" asp-action="Index">
            <img src="~/assets/images/logo.svg" alt="flashcards logo" class="header__logo" />
            Flashcards
        </a>
        <nav class="header__navigation">
			<ul class="header__list">
				<li class="header__list-item">
					<a class="" asp-area="" asp-controller="Flashcards" asp-action="CollectionPage">Your Collections</a>
				</li>
				<li class="header__list-item">
					<a class="" asp-area="" asp-controller="Flashcards" asp-action="DisplayFlashcard">Training</a>
				</li>
				@if (singInManager.IsSignedIn(User))
				{
					<li class="header__list-item">
                        <form method="post" asp-action="Logout" asp-controller="Account">
                            <button type="submit" style="width:auto">
                                Logout @User.Identity.Name
                            </button>
                        </form>
					</li>
				}
				else
				{ 
				<li class="header__list-item">
					<a class="" asp-controller="Account" asp-action="Register">Register</a>
				</li>
                <li class="header__list-item">
					<a class="" asp-controller="Account" asp-action="Login">Login</a>
				</li>
                
                }
				<li class="header__list-item">
					<a asp-controller="Flashcards" asp-action="ShowForm" alt="" class="button button--secondary header__list-item-button">
						create
					</a>
				</li>
			</ul>
        </nav>
        <button class="header__hamburger-button">
            <i class="icon icon--hamburger icon--sm"> </i>
        </button>
    </header>
    <main role="main" class="main">
        @RenderBody()
    </main>
    <footer class="footer">
        &copy; 2021 Karolina Jaklik &amp; Anna Mika. All rights reserved.
    </footer>
    <script src="~/js/header.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>