.icon {
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;

    &--xs {
        width: 16px;
        height: 16px;
    }

    &--sm {
        width: 24px;
        height: 24px;
    }

    &--md {
        width: 40px;
        height: 40px;
    }

    &--white {
        background-color: #FFF;
    }

    &--arrow-left {
        background-image: url("../../assets/images/arrow-left.svg");
    }

    &--arrow-right {
        background-image: url("../../assets/images/arrow-right.svg");
    }

    &--add {
        background-image: url("../../assets/images/add.svg");
    }

    &--delete {
        background-image: url("../../assets/images/delete.svg");
    }

    &--edit {
        background-image: url("../../assets/images/edit.svg");
    }

    &--switch {
        background-image: url("../../assets/images/switch.svg");
    }

    &--next {
        background-image: url("../../assets/images/next.svg");
    }

    &--prev {
        background-image: url("../../assets/images/prev.svg");
    }

    &--long-arrow-alt-right {
        background-image: url("../../assets/images/long-arrow-alt-right-solid.svg");
    }

    &--list-view {
        background-image: url("../../assets/images/list-view.svg");
    }

    &--cards-view {
        background-image: url("../../assets/images/cards-view.svg");
    }

    &--hamburger {
        background-image: url("../../assets/images/hamburger.svg");
    }
}
