.icon {
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;

    &--xs {
        width: 16px;
        height: 16px;
    }

    &--sm {
        width: 24px;
        height: 24px;
    }

    &--white {
        background-color: #FFF;
    }

    &--arrow-left {
        background-image: url("../../assets/images/arrow-left.svg");
    }

    &--add {
        background-image: url("../../assets/images/add.svg");
    }

    &--delete {
        background-image: url("../../assets/images/delete.svg");
    }

    &--edit {
        background-image: url("../../assets/images/edit.svg");
    }

    &--switch {
        background-image: url("../../assets/images/switch.svg");
    }
}
