@import "./typography.scss";
@import "../global/colors.scss";

.input {
    font-family: "Lato-Regular";
    color: $primary-black;
    padding: 8px;
    font-size: $text-sm;
    border: 1px solid $primary-black;
    
    &:placeholder {
        font-family: "Lato-Light";
    }
}

.textarea {
    font-family: "Lato-Regular";
    color: #000;
    padding: 8px;
    font-size: $text-sm;
    border: 1px solid $primary-black;
    height: auto;
    resize: none;

    &:placeholder {
        font-family: "Lato-Light";
    }
}