@import "../global/colors.scss";

::-webkit-scrollbar {
    border-radius: 6px;
    width: 7px;
    height: 7px;
    background-color: $light-gray;

    &-track {
        border-radius: 6px;
        width: 7px;
        background-color: transparent;

        &-piece {
            border-radius: 6px;
            background-color: $light-gray;
        }
    }

    &-thumb {
        border-radius: 6px;
        background-color: $dark-gray;
    }
}
