
<section class="collection-page h-box">
    <table id="flashcardsList" class="collection-page__table">
        <tr class="collection-page__row">
            <th class="collection-page__header-cell">Flashcard title</th>
            <th class="collection-page__header-cell">Edit</th>
            <th class="collection-page__header-cell">Delete</th>
        </tr>
    </table>
</section>


<div id="createContainer"></div>


@section Scripts {
	<script src="~/js/collectionPage.js"></script>
}