
<div>
	<button id="btn-switch">Switch View</button>
</div>

<div>
	<ul>
		@foreach (var flashcard in ViewBag.FlashcardsJS)
		{ 
			<li>@flashcard.Title<span>Description: @flashcard.Description</span></li>		
		}
	</ul>
</div>

@*TODO: checkbox Learnt*@

<div id="nav">
	<button id="prev">Previous</button>
	<button id="next">Next</button>

</div>

<div id="btn-container">
	<div>
		<a asp-controller="Flashcards" asp-action="ShowForm">Create flashcard</a>
	</div>
	<div>
		<a asp-controller="Flashcards" asp-action="ShowForm">Edit</a>
	</div>
	<div>
		<a asp-controller="Flashcards" asp-action="Delete">Delete</a>
	</div>
</div>
