@model List<JSFlashcardsModel>

<section class="flashcards-page h-box">
    <div class="flashcards-page__container">

        <div class="flashcards-page__switch-view-container">
            <button id="btn-switch" class="button button--secondary">
                <i class="icon icon--xs icon--switch h-margin-right-8"> </i>
                Switch View
            </button>
        </div>


        @{
            int flashcardsNumber = Model.Count();
            int id = 0;
        }

        @if (flashcardsNumber > 0)
        {
            Random random = new Random();
            int index = random.Next(flashcardsNumber);
            id = Model[index].Id;

            <div id="flashcard-container" class="flashcard">
                <div id="flashcard-title" class="flashcard__title">
                    @Model[index].Title
                </div>
                <div id="flashcard-description" class="flashcard__description">
                    @Model[index].Description
                </div>
            </div>
        }
        else
        {
            <p>Sorry, there is no flashcards available.</p>
        }


        @*TODO: checkbox Learnt*@

        <nav id="nav" class="flashcards-page__navigation">
            <button id="prev">Previous</button>
            <button id="next">Next</button>
        </nav>






        <div id="btn-container" class="flashcards-page__buttons-container">
            <a asp-controller="Flashcards" asp-action="ShowForm" class="button button--secondary flashcards-page__button">
                <i class="icon icon--xs icon--add h-margin-right-8"> </i>
                Create
            </a>
            <a asp-route-id="@id" asp-controller="Flashcards" asp-action="Edit" class="button button--secondary flashcards-page__button">
                <i class="icon icon--xs icon--edit h-margin-right-8"> </i>
                Edit
            </a>
            <a asp-route-id="@id" asp-controller="Flashcards" asp-action="Delete" class="button button--secondary flashcards-page__button">
                <i class="icon icon--xs icon--delete h-margin-right-8"> </i>
                Delete
            </a>
        </div>

    </div>
</section>