@model List<JSFlashcardsModel>

<div>
	<button id="btn-switch">Switch View</button>
</div>

@{
	int flashcardsNumber = Model.Count();
}

@if (flashcardsNumber > 0)
{
	Random random = new Random();
	int index = random.Next(flashcardsNumber);

	<div id="flashcard-container">

		<div id="flashcard-title">
			@Model[index].Title
		</div>

		<div id="flashcard-description">
			@Model[index].Description

		</div>

	</div>
}
else
{
	<p>Sorry, there is no flashcards available.</p>
}


@*TODO: checkbox Learnt*@

<div id="nav">
	<button id="prev">Previous</button>
	<button id="next">Next</button>

</div>

<div id="btn-container">
	<div>
		<a asp-controller="Flashcards" asp-action="ShowForm">Create flashcard</a>
	</div>
	<div>
		<a asp-route-id="" asp-controller="Flashcards" asp-action="ShowForm">Edit</a>
	</div>
	<div>
		<a asp-controller="Flashcards" asp-action="Delete">Delete</a>
	</div>
</div>
