
<section class="flashcards-page h-box">
    <div class="flashcards-page__container">

        <div class="flashcards-page__switch-view-container">
            <button id="btn-switch" class="button button--secondary flashcard-page__switch-button">
                <i class="icon icon--xs icon--switch h-margin-right-8"> </i>
                Switch View
            </button>
        </div>

        <div class="flashcards-page__main">
            <div class="carousel">
                <button id="prev" class="carousel__prev-button">
                    <i class="icon icon--md icon--prev"> </i>
                </button>
                <div class="carousel__container">
                            <div id="flashcard-container" class="flashcard flashcard--front">
                                <div class="flashcard__inner">
                                    <div id="flashcard-title" class="flashcard__face flashcard__face--front h-js">
                                        <h2 class="flashcard__title"></h2>
                                    </div>
                                    <div id="flashcard-description" class="flashcard__face flashcard__face--back h-js">
                                        <h2 class="flashcard__description"></h2>
                                    </div>
                                </div>
                            </div>
                </div>
                <button id="next" class="carousel__next-button">
                    <i class="icon icon--md icon--next"> </i>
                </button>
            </div>


            @*TODO: checkbox Learnt*@


            <div id="btn-container" class="flashcards-page__buttons-container">
                <a asp-controller="Flashcards" asp-action="ShowForm" class="button button--secondary flashcards-page__button">
                    <i class="icon icon--xs icon--add h-margin-right-8"> </i>
                    Create
                </a>
                <a asp-route-id=@*"@id"*@ asp-controller="Flashcards" asp-action="Edit" class="button button--secondary flashcards-page__button">
                    <i class="icon icon--xs icon--edit h-margin-right-8"> </i>
                    Edit
                </a>
                <a asp-route-id=@*"@id"*@ asp-controller="Flashcards" asp-action="Delete" class="button button--secondary flashcards-page__button">
                    <i class="icon icon--xs icon--delete h-margin-right-8"> </i>
                    Delete
                </a>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/flashcardsCarousel.js"></script>
    <script>
        const switchButton = document.querySelector(".flashcard-page__switch-button");
        const flashcard = document.querySelector(".flashcard__inner");

        switchButton.addEventListener('click', event => {
            const flashcard = document.querySelector(".flashcard__inner");
            flashcard.classList.toggle("is-flipped");
        });
        flashcard.addEventListener('click', event => {
            const flashcard = document.querySelector(".flashcard__inner");
            flashcard.classList.toggle("is-flipped");
        });
    </script>
}

