@{
    ViewData["Title"] = "Home Page";
}

<section class="home-page">

    <div class="home-page__welcome-container">
        <div class="home-page__header h-box">
            <span class="home-page__welcome">Welcome to flashcards creator.</span>
            <p class="home-page__header-paragraph">
                <span>A free service for creating flashcards that will help you memorize all desire knowlegde. Develop your's potential! Create your Flashcards!</span>
            </p>
        </div>
        <div class="home-page__container h-box h-margin-bottom-16">
            <a asp-controller="Flashcards" asp-action="ShowForm" alt="" class="button button--secondary button--solid home-page__create-button">
                create flashcard
                <i class="icon icon--xs icon--arrow-right h-margin-left-8"></i>
            </a>
        </div>
    </div>

</section>