@{
    ViewData["Title"] = "Home Page";
}

<section class="home">
    <div class="home__container">
        <div class="home__card">
            <img src="./assets/images/html.svg" alt="html logo" />
        </div>
        <div class="home__card">
            <img src="./assets/images/css.svg" alt="css logo" />
        </div>
        <div class="home__card">
            <img src="./assets/images/javascript.svg" alt="javascript logo" />
        </div>
    </div>
</section>