@{
    ViewData["Title"] = "Home Page";
}

<section class="home">
    <div class="home__container">
        <div class="home__card">
            HTML
        </div>
        <div class="home__card">
            CSS
        </div>
        <div class="home__card">
			<a asp-controller="Flashcards" asp-action="DisplayJS">JAVASCRIPT</a> 
        </div>
    </div>
</section>