@{
    ViewData["Title"] = "Home Page";
}

<section class="home">

    <div class="home__header">
        <div class="home__header-container h-box">
            <p class="home__header-paragraph">
                Hi!
                <br />
                What skill you develope today?
                <br />
                Pick up! But remeber,
                <br />
                You can choose any issue from below that you want, so long as it is JS.
            </p>
        </div>
    </div>

    <div class="home__container h-box">

        <a asp-controller="Flashcards" asp-action="DisplayJS" alt="javascript card" class="category-card category-card--js">
            <div class="category-card__container category-card--enabled">
                <div class="category-card__main">
                    <div class="category-card__logo category-card__logo--js"></div>
                </div>
                <div class="category-card__description">
                    Javascript
                </div>
            </div>
        </a>


        <div class="category-card category-card--css">
            <div class="category-card__container category-card--disabled">
                <div class="category-card__main">
                    <div class="category-card__logo category-card__logo--css"></div>
                </div>
                <div class="category-card__description">
                    CSS
                </div>
            </div>
        </div>

        <div class="category-card category-card--html">
            <div class="category-card__container category-card--disabled">
                <div class="category-card__main">
                    <div class="category-card__logo category-card__logo--html"></div>
                </div>
                <div class="category-card__description">
                    HTML
                </div>
            </div>
        </div>

        <div class="category-card category-card--angular">
            <div class="category-card__container category-card--disabled">
                <div class="category-card__main">
                    <div class="category-card__logo category-card__logo--angular"></div>
                </div>
                <div class="category-card__description">
                    Angular
                </div>
            </div>
        </div>

        <div class="category-card category-card--vue">
            <div class="category-card__container category-card--disabled">
                <div class="category-card__main">
                    <div class="category-card__logo category-card__logo--vue"></div>
                </div>
                <div class="category-card__description">
                    Vue.js
                </div>
            </div>
        </div>

        <div class="category-card category-card--react">
            <div class="category-card__container category-card--disabled">
                <div class="category-card__main">
                    <div class="category-card__logo category-card__logo--react"></div>
                </div>
                <div class="category-card__description">
                    React
                </div>
            </div>
        </div>
    </div>
</section>