@{
    ViewData["Title"] = "Home Page";
}

<section class="home-page">

    <div class="home-page__welcome">
        <div class="home-page__header h-box">
            <p class="home-page__header-paragraph">
                Learn at your own pace what you want to learn.
            </p>
        </div>
        <div class="home-page__container h-box">
            <a asp-controller="Flashcards" asp-action="DisplayJS" alt="card" class="category-card">
                <div class="category-card__container category-card--enabled">
                    <div class="category-card__logo"></div>
                </div>
            </a>
        </div>
    </div>

</section>