@{
    ViewData["Title"] = "Home Page";
}

<section class="home-page">

    <div class="home-page__header">
        <div class="home-page__header-container h-box">
            <p class="home-page__header-paragraph">
                Hi!
                <br />
                What skill you develope today?
                <br />
                Pick up! But remeber,
                <br />
                You can choose any issue from below that you want, so long as it is JS.
            </p>
        </div>
    </div>

    <div class="home-page__container h-box">

        <a asp-controller="Flashcards" asp-action="DisplayJS" alt="javascript card" class="category-card">
            <div class="category-card__container category-card--enabled h-js">
                <div class="category-card__logo category-card__logo--js"></div>
                <div class="category-card__description">
                    Javascript
                </div>
            </div>
        </a>

        <div class="category-card">
            <div class="category-card__container category-card--disabled h-css">
                <div class="category-card__logo category-card__logo--css"></div>
                <div class="category-card__description">
                    CSS
                </div>
            </div>
        </div>

        <div class="category-card">
            <div class="category-card__container category-card--disabled h-html">
                <div class="category-card__logo category-card__logo--html"></div>
                <div class="category-card__description">
                    HTML
                </div>
            </div>
        </div>

        <div class="category-card">
            <div class="category-card__container category-card--disabled h-angular">
                 <div class="category-card__logo category-card__logo--angular"></div>
                <div class="category-card__description">
                    Angular
                </div>
            </div>
        </div>

        <div class="category-card">
            <div class="category-card__container category-card--disabled h-vue">
                 <div class="category-card__logo category-card__logo--vue"></div>
                <div class="category-card__description">
                    Vue.js
                </div>
            </div>
        </div>

        <div class="category-card"> 
            <div class="category-card__container category-card--disabled h-react">
                 <div class="category-card__logo category-card__logo--react"></div>
                <div class="category-card__description">
                    React
                </div>
            </div>
        </div>
    </div>
</section>