@{
    ViewData["Title"] = "Home Page";
}

<section class="home">
    <div class="home__container">
        <div class="card card--html">
            <div class="card__logo-container">
                <img class="card__logo" src="./assets/images/html.svg" alt="html logo" />
            </div>
        </div>
        <div class="card card--css">
            <div class="card__logo-container">
                <img class="card__logo" src="./assets/images/css.svg" alt="css logo" />
            </div>
            </div>
        <div class="card card--js">
            <div class="card__logo-container">
                <img class="card__logo" src="./assets/images/javascript.svg" alt="javascript logo" />
             </div>
        </div>
    </div>
</section>