@{
    ViewData["Title"] = "Home Page";
}

<section class="home">
    <div class="home__container">

        <div class="card card--js">
            <div class="card__container">
                <div class="card__main">
                    <div class="card__logo card__logo--js">
                        @*<img class="card__logo" src="./assets/images/javascript.svg" alt="javascript logo" />*@
                    </div>
                </div>
                <div class="card__description">
                    JS
                </div>
            </div>
        </div>

        <div class="card card--css">
            <div class="card__container">
                <div class="card__main">
                    <div class="card__logo card__logo--css">
                        @*<img class="card__logo" src="./assets/images/css.svg" alt="css logo" />*@
                    </div>
                </div>
                <div class="card__description">
                    CSS
                </div>
            </div>
        </div>
<a asp-controller="Flashcards" asp-action="DisplayJS">JAVASCRIPT</a> 

        <div class="card card--html">
            <div class="card__container">
                <div class="card__main">
                    <div class="card__logo card__logo--html">
                        @*<img class="card__logo" src="./assets/images/html.svg" alt="html logo" />*@
                    </div>
                </div>
                <div class="card__description">
                    HTML
                </div>
            </div>
        </div>
        <div class="home__card">
			<a asp-controller="Flashcards" asp-action="DisplayJS">JAVASCRIPT</a> 
        </div>

        <div class="card card--angular">
            <div class="card__container">
                <div class="card__main">
                    <div class="card__logo card__logo--angular">
                        @*<img class="card__logo" src="./assets/images/javascript.svg" alt="javascript logo" />*@
                    </div>
                </div>
                <div class="card__description">
                    Angular
                </div>
            </div>
        </div>

        <div class="card card--vue">
            <div class="card__container">
                <div class="card__main">
                    <div class="card__logo card__logo--vue">
                        @*<img class="card__logo" src="./assets/images/javascript.svg" alt="javascript logo" />*@
                    </div>
                </div>
                <div class="card__description">
                    Vue
                </div>
            </div>
        </div>

        <div class="card card--react">
            <div class="card__container">
                <div class="card__main">
                    <div class="card__logo card__logo--react">
                        @*<img class="card__logo" src="./assets/images/javascript.svg" alt="javascript logo" />*@
                    </div>
                </div>
                <div class="card__description">
                    React
                </div>
            </div>
        </div>
    </div>
</section>