@model JSFlashcardsModel

<section class="form-page h-box">

    <div class="form-page__container">

        <form method="post" class="form">
            <div class="form__content">
                <h1 class="form__header heading-1">Add new flashcard</h1>

                <div class="form__group">
                    <label asp-for="Title" class="form__label">Title :</label>
                    <input asp-for="Title" type="text" name="title" placeholder="Flashcard title" class="form__input input" />
                </div>

                <div class="form__group">
                    <label asp-for="Description" class="form__label">Description :</label>
                    <input asp-for="Description" type="text" name="description" placeholder="Flashcard description" class="form__input input" />
                </div>

                <div class="form__group form__buttons-container">
                    <button type="submit" class="button button--primary h-margin-bottom-16">Add</button>
                    <a asp-controller="Flashcards" asp-action="Index" class="button button--secondary">
                        <i class="icon icon--xs icon--arrow-left h-margin-right-8"> </i>
                        <span>Back Home</span>
                    </a>
                </div>

            </div>
        </form>
    </div>

</section>



